@inject IJSRuntime js

<PageTitle>Lista Peliculas</PageTitle>

@*<img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
        <text>Cargando...</text>*@

<div>
    <input type="checkbox" @bind="MostrarBotones" />
    <h2>Peliculas</h2>
    <ListadoGenerico Listado="Peliculas">
        <HayRegistros Context="peli">
            <PeliculaDetalle Pelicula="peli" MostrarBotones="MostrarBotones"
                             EliminarPelicula="Eliminar" />
        </HayRegistros>
    </ListadoGenerico>
</div>

<ConfirmacionModal @ref="confirmacion" onConfirm="onConfirmationModal"
                   onCancel="onCancelModal">
    <div>¿Desea borrar la película?</div>
</ConfirmacionModal>




@code {

    [Parameter] public List<Pelicula> Peliculas { get; set; }
    [Parameter] public RenderFragment Cargando { get; set; }
    [Parameter] public RenderFragment NoHayRegistros { get; set; }
    bool MostrarBotones = true;
    ConfirmacionModal confirmacion;

    Pelicula peliculaABorrar;



    protected override void OnInitialized()
    {
        Console.WriteLine($"OnInitialized peliculas: {Peliculas.Count}");
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet peliculas: {Peliculas.Count}");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender primera vez {firstRender}");
    }
    protected override bool ShouldRender()
    {
        Console.WriteLine("ShouldRender");
        return true;
    }

    public async Task Eliminar(Pelicula pelicula)
    {
        //var confirm = await js.Confirm($"Desea borrar la pelicula + {pelicula.Titulo}");
        //if (confirm)
        //{
        //    Peliculas.Remove(pelicula);
        //    Console.WriteLine($"Eliminar pelicula : {pelicula.Titulo}");
        //}
        confirmacion.Mostrar();
        peliculaABorrar = pelicula;
    }


    void onConfirmationModal()
    {
        Peliculas.Remove(peliculaABorrar);
        confirmacion.Ocultar();
        peliculaABorrar = null;
    }

    void onCancelModal()
    {
        confirmacion.Ocultar();
        peliculaABorrar = null;
    }

}
