@inject IJSRuntime js

<PageTitle>Lista Peliculas</PageTitle>

<div>
    <h2>Peliculas</h2>

    <div style="display: flex; flex-wrap: wrap; align-items: center;">        
        <ListadoGenerico Listado="Peliculas">
            <HayRegistros Context="peli">
                <PeliculaIndividual Pelicula="peli" EliminarPelicula="Eliminar" />
            </HayRegistros>
        </ListadoGenerico>
    </div>
</div>



@code {

    [Parameter] public List<Pelicula> Peliculas { get; set; }
    //bool MostrarBotones = true;
    //ConfirmacionModal confirmacion;

    public async Task Eliminar(Pelicula pelicula)
    {
        var confirm = await js.Confirm($"Desea borrar la pelicula + {pelicula.Titulo}");
        if (confirm)
        {
            Peliculas.Remove(pelicula);
            Console.WriteLine($"Eliminar pelicula : {pelicula.Titulo}");
        }
    }
}
