<h6>PeliculaDetalle</h6>
<div>
    <p>Titulo <b>@(Pelicula.Titulo)</b> </p>
    <p>Fecha <b>@(Pelicula.Lanzamiento)</b> </p>
</div>
@if (MostrarBotones)
{
    <div>
        <button @onclick="@(() => EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
    </div>
}
@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; } = false;
    [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }//Recibe este evento del Padre.
    void Eliminar()
    {
        Console.WriteLine("Eliminar");
    }
}
