@page "/personas"
<h3>IndicePersonas</h3>

<div class="form-group">
    <a class="btn btn-outline-info" href="personas/crear">Crear Persona</a>
</div>
<div class="form-group">
    <a class="btn btn-outline-primary" href="personas/editar/1">Editar Persona</a>
</div>


@code {

}
