@page "/"
@using static BlazorPeliculas.Client.Shared.MainLayout
@using static BlazorPeliculas.Client.Servicios
@inject IRepositorio repositorio


<PageTitle>@Name</PageTitle>

<PageTitle>Peliculas</PageTitle>

<div>
    <ListaPeliculas @ref="PeliculasComponent" Peliculas="Peliculas" />
</div>






@code {

    string Name = "Blazor App";
    public List<Pelicula> Peliculas;
    private ListaPeliculas PeliculasComponent;//"ViewChild"

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

}
